<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th [attr.colspan]="colSpan">Employee 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{firstName}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{lastName}}</td>
            </tr>
            <tr [hidden]=!showDetails>
                <td>Gender</td>
                <td>{{gender}}</td>
            </tr>
            <tr [hidden]=!showDetails>
                <td>Age</td>
                <td>{{age}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>